@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

h1,
h2,
a, p, table, form, input, h3 {
    font-family: 'Poppins', sans-serif;
}

.home-link,
.entrada-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
}

table {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    border-color: black;
    width: 45%;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

tbody tr:nth-child(even):hover {
    background-color: rgb(150, 150, 150);
}

td {
    width: 45px;
    height: 25px;
    text-align: center;
}

h2,
footer {
    color: white;
    padding: 12px 30px;
    background-color: black;
    border-radius: 12px;
    margin: 7px 20%;
    text-align: left;
}


h1 {
    padding: 15px 30px;
    background-color: lightgrey;
    border-style: solid;
    border-color: grey;
    border-width: 1.7px;
    border-radius: 12px;
    margin: 7px 20%;
    text-align: left;
}

div#centro{
    margin: 0 28%;
    border-radius: 12px;
    text-align: left;
    padding-bottom: 12px;
}

div#rec{
    margin: 0 25.3%;
    border-radius: 12px;
    padding: 2em;
    text-align: left;
}

a:link, a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgb(120, 120, 120);
    text-decoration: none;
}

fieldset{
    border-radius: 6px;
}

div#index{
    margin: 0 22%;
    border-radius: 12px;
    text-align: left;
    padding-bottom: 12px;
    padding-top: 12px;
}

button{
    border-width: thin;
    border-radius: 3px;
}

button:hover, input#rec:hover{
    background-color: rgb(200, 200, 200);
}

input#rec{
    border-width: thin;
    border-radius: 3px;
}